/* shared styles */
*{
    margin: 0px;
}
.noto-serif-head-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-text-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* nav-bar section styles */

.nav-bar{
    max-width: 1140px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #252432;
    font-size: 1rem;
    font-weight: 600;
}
.gray-nav{
    color: #8987A1;
    font-weight: 400;
}

/* banner section styles */

.banner{
    max-width: 1140px;
    margin: 120px auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.banner-title{
    color: #000000;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.banner-title span{
    color: #E95A08;
}

.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
}

/* plants section styles */

.plants{
    max-width: 1140px;
    margin: 0 auto;
}
.text-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 16px;
}
.text-title span{
    color: #E95A08;
}
.plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name{
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.price{
    color: #000000;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-btn{
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    border: none;
    margin-top: 10px;
}

/* plants lover section styles */
.plants-lover{
    max-width: 1140px;
    margin: 200px auto;
    position: relative;

}
.sticker{
    width: 286px;
    height: 286px;
    position: absolute;
    margin-left: 350px;
    margin-top: -130px;
}
.sticker img{
    width: 100%;
}
.lover-container{
    display: flex;
    gap: 60px;
}
.lover-title{
    color: #000000;
    font-size:3.125rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.lover-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
}
.lover-description li{
    margin-bottom: 20px;
}

/* latest section styles */
.latest{
    max-width: 1140px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.latest span{
     color: #E95A08;
}
.latest-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
    text-align: center;
}
.latest-img{
    display: flex;
    margin-top: 100px;
    gap: 30px;
}
.div-1{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.bloom{
    background-image: url(../assets/deal-bloom.png);
    background-size: cover;
    background-position: center;
    width: 367px;
    height: 201px;
    position: relative;
    border-radius: 20px;
}
.ana{
    background-image: url(../assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    width: 367px;
    height: 201px;
    position: relative;
    border-radius: 20px;
}
.ab-text{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.ab-link{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.div-2 {
    background-image: url(../assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    width: 755px;
    height: 425px;
    position: relative;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
.zoba-text{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}
.z-link{
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
}

/* join section styles */
.join{
    width: 100%;
    height: 500px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-title{
    color: white;
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
}
.input input{
    border: none;
    width: 640px;
    height: 50px;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
}
.join-btn{
    background-color: #E95A08;
    color: white;
    border: none;
    font-size: 1rem;
    height: 50px;
    padding: 18px 50px;

}
/* footer section styles */
.footer{
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: flex-start;
}
.left{
    max-width: 360px;
}
.footer-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    font-weight: 400;
    margin-top: 20px;
}
.middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
}
.middle a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.logo{
    width: 100%;
    height: 100%;
}


/* responsive styles */

@media screen and (max-width: 576px) {
    .hidden{
        display: none;
    }
    .nav-bar{
        margin: 20px 10px;
    }
    .nav-img{
        width: 100%;
    }
    .banner{
        flex-direction: column-reverse;
        padding-top: 20px;
        margin: 120px 10px;
    }
    .plants{
        margin: 100px 10px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-img{
        width: 100%;
    }
    .plants-lover{
        margin: 100px 10px;
    }
    .plants-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sticker{
        display: none;
    }
    .lover-container{
        flex-direction: column;
    }
    .lover-img{
        width: 100%;
    }
    .join{
        margin: 0px;
    }
    .input input{
        width: 40%;
    }
    .footer{
        flex-direction: column;
        gap: 20px;
        margin: 50px 10px;
    }
    .middle{
        grid-template-columns: repeat(1, 1fr);
    }
    .latest{
        margin: 100px 10px;
    }
    .latest-img{
        flex-direction: column;
    }
    .div-2{
        width: 367px;
        height: 201px;
    }
    .zoba-text{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}
.overlay a{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
    
}